.parallax {
  height: 100vh;
  overflow: hidden;
}
.parallax > * {
  height: 200%;
  position: relative;
  top: -100%;
}
.slide-widescreen {
  background-size: auto 100vh;
  @media screen and (min-aspect-ratio: 16/9) {
    background-size: 100%;
  }
  background-position: center top;
}
.image-cell {
  img {
    padding: 3px;
  }
  .overlay {
    background: $primary;
    opacity: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: opacity .25s ease;
    z-index: 2;
  }
}
.image-cell:hover .overlay {
  opacity: 0.5;
}
.text-cell {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
